# Скопировать в .env и заполнить. Генерация секретов: openssl rand -base64 32
VAULTLS_API_SECRET=changeme-openssl-rand-base64-32
VAULTLS_DB_SECRET=changeme-openssl-rand-base64-32
VAULTLS_URL=http://localhost:5173/
VAULTLS_INSECURE=true
